<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.computecanada.ca">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/intro">Session 1: Intro to Compute Canada / La fédération Calcul Canada</a></div>
      <div class="right">Feb-16 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cloud">Session 2: Cloud applications / L'infonuagique</a></div>
      <div class="right">Feb-16 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/dmp">Session 3: Data Management Plans / Gestion des données</a></div>
      <div class="right">Feb-17 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/pm">Session 4: Project Management / Gestion des projets</a></div>
      <div class="right">Feb-17 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/tools">Session 5: Out(side) of the Box - Online tools / Des outils conviviaux </a></div>
      <div class="right">Feb-18 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cli">Session 6: Taming the Command Line / Apprivoiser la ligne de commande</a></div>
      <div class="right">Feb-18 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/photo">Session 7: Introduction to Photogrammetry / Introduction à la photogrammétrie</a></div>
      <div class="right">Feb-19 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/scraping">Session 8: Introduction to Web Scraping / Introduction au moissonnage sur le Web</a></div>
      <div class="right">Feb-19 @2:30pm EST</div>
    </div>
    <br>
    <div id="frontdates">
      Register <a href="no link yet">here</a>
    </div>
  </div>
</section>
